{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/login_and_register.css">
    <link rel="stylesheet" href="../../static/css/index.css">
{% endblock %}

{% block body %}
<div class="container" align="center" id="">
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="row">
      <div class="col-sm">
        <h1>Sign up form</h1>
      </div>
  </div>
  <div class="login-box well">
    <form method="POST" action="">
      <div class="form-group">
        {{render_field(form.username, class_="form-control", placeholder="username")}}
      </div>
      <div class="form-group">
        {{render_field(form.password, class_="form-control", placeholder="********")}}
      </div>
      <div class="form-group">
        {{render_field(form.confirmation, class_="form-control", placeholder="once again please!")}}
      </div>
      <p style="margin: 0px;"><input type="submit" class="btn btn-primary" value="Create account" style="background-color: #4fb414"></p>
    </form>
    <p>Already signed up?
        <a href="/login" id="register">Log in.</a>
    </p>
  </div>
  <div>
  </div>
</div>
{% endblock %}