<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🥦 HealthEat 🍽 | Main page</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <section id="header">
    </section>

    <section id="main">
        <p><a href={{ url_for("user.register") }}>{%trans%}Register{%endtrans%}</a></p>
        <p><a href={{ url_for("user.login") }}>{%trans%}Sign in{%endtrans%}</a></p>
    </section>


    <section id="footer">
    </section>

</body>
</html>